@import "../../../main.scss";

.HeaderFooterWrapper__header {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 20px;
  background-color: $background-color-primary;
}

.HeaderFooterWrapper__header--container {
  display: flex;
  width: 768px;
  align-items: baseline;
  justify-content: space-between;
}

.HeaderFooterWrapper__header--name {
  font-size: 48px;
  font-weight: bold;
  color: $color-primary;
}

.HeaderFooterWrapper__header--button {
  color: $color-primary;
  margin: 20px;
}

.HeaderFooterWrapper__header--buttonActive {
  font-weight: bold;
  border-bottom: 2px solid $color-primary;
}

.HeaderFooterWrapper__wrappedComponent {
  background-color: $background-color-secondary;
  min-height: 1000px;
}

.HeaderFooterWrapper__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  padding: 20px;
  color: $color-primary;
  background-color: $background-color-primary;
}

.HeaderFooterWrapper__footer--social {
  padding: 5px;
}

.HeaderFooterWrapper__footer--socialIcon {
  padding: 2px;
}

.HeaderFooterWrapper__footer--copyright {
  padding: 5px;
}
