@import "../../../main.scss";

.HeaderFooterWrapper__header {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 20px;
}

.HeaderFooterWrapper__header--container {
  display: flex;
  width: 768px;
  align-items: baseline;
  justify-content: space-between;
}

.HeaderFooterWrapper__header--name {
  color: $color-primary;
  font-size: 48px;
  font-weight: bold;
}

.HeaderFooterWrapper__header--button {
  color: $color-primary;
  margin: 20px;
}

.HeaderFooterWrapper__header--buttonActive {
  font-weight: bold;
  border-bottom: 2px solid $color-secondary;
}

.HeaderFooterWrapper__wrappedComponent {
  display: flex;
  background-color: $background-color-secondary;
  justify-content: center;
}

.HeaderFooterWrapper__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  padding: 20px;
}

.HeaderFooterWrapper__footer--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.HeaderFooterWrapper__footer--socialButton {
  padding: 0 10px;
}

.HeaderFooterWrapper__footer--socialIcon {
  color: $color-primary;
}

.HeaderFooterWrapper__footer--copyright {
  font-size: 12px;
  padding: 20px;
}
