@import "../../../main.scss";

.Music {
  display: flex;
  flex-direction: column;
  width: 768px;
  margin-top: 40px;
}

.Music__intro {
  padding-bottom: 40px;
}

.Music__intro--quote {
  text-align: left;
  font-size: 24px;
  font-style: italic;
}

.Music__intro--origin {
  text-align: right;
  font-size: 18px;
  font-style: italic;
}

.Music__content {
  border-top: 1px solid $color-primary;
  padding: 40px 0;
  text-align: justify;
}

.Music__content--section {
  font-size: 32px;
  font-weight: bold;
}

.Music__link {
  font-weight: bold;
  color: $color-secondary;
  text-decoration: none;
}
